<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {{# page.description }}
    <meta name="description" content="{{ . }}">
    {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/raymond/stylesheets/raymond.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/assets/raymond/stylesheets/fontello.css">
    <link href="/assets/raymond/widgets/google_prettify/stylesheets/twitter-bootstrap.css" type="text/css"
          rel="stylesheet" media="all">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/raymond/media/favicon.png">
    <link rel="apple-touch-icon" href="/assets/raymond/media/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/raymond/media/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/raymond/media/apple-touch-icon-114x114.png">
</head>

<body class="full-layout">

<div class="body-wrapper">
    <!-- Begin Top Wrapper -->
    <div class="top-wrapper">
        <div class="inner">
            <!-- Begin Header -->
            <header>
                <div class="logo"><a href="/"><img src="/assets/raymond/media/logo.png" alt=""/></a></div>
                <!-- Begin Menu -->
                <nav id="menu" class="menu">
                    <ul id="tiny">
                        <li><a href="/">Home</a></li>
                        {{# site.navigation?to_pages }}
                        {{> pages_list }}
                        {{/ site.navigation?to_pages }}
                    </ul>
                </nav>
                <!-- End Menu -->
                <div class="clear"></div>
            </header>
            <!-- End Header -->

        </div>
    </div>
    <!-- End Top Wrapper -->
    <!-- Begin Wrapper -->
    <div class="wrapper">
        <div class="inner light">
            {{{ content }}}
            <div class="clear"></div>
        </div>
    </div>
    <!-- End Wrapper -->

    <!-- Begin Footer Wrapper -->
    <footer>
        <!-- Begin Inner -->
        <div class="inner">
            <div class="one-third widget">
                <h3 class="widget-title">Links</h3>
                <ul class="post-list">
                    <li>
                        <h6><a href="http://laravel-cn.com" target="_blank">Laravel-cn.com</a></h6>
                    </li>
                    <li>
                        <h6><a href="http://iiseeuu.com" target="_blank">iiseeuu.com</a></h6>
                    </li>
                </ul>
            </div>

            <div class="one-third widget">
                <h3 class="widget-title">A Little About Me</h3>

                <p>I'm Laravel China founder / the Go Language followers , also concerned about the Web front-end, server architecture, NoSQL databases and C1000K</p>

                <p></p>
            </div>
            <div class="one-third last widget">
                <h3 class="widget-title">Get In Touch</h3>

                <p>I worked in IISEEUU Network Technology Co., Ltd.</p>
                <i class="icon-location contact"></i> Nanjing, China <br/>
                <i class="icon-phone contact"></i> <a href="http://weibo.com/ledbk" target="_blank">@Raymond_______</a><br/>
                <i class="icon-mail contact"></i> <a href="mailto:raymond@ledbk.com">raymond@ledbk.com</a></div>
            <div class="clear"></div>
        </div>
        <!-- Begin Inner -->
    </footer>
    <!-- End Footer Wrapper -->

    <!-- Begin Sub Footer Wrapper -->
    <div class="subfooter">
        <!-- Begin Inner -->
        <div class="inner">
            <p>&copy; {{ site.author.name }} 2013
                build with <a>Golang</a>

            <ul class="social">
                <li><a href="/rss.xml" target="_blank"><i class="icon-s-rss"></i></a></li>
                <li><a href="https://github.com/RaymondChou" target="_blank"><i class="icon-s-github"></i></a></li>
                <li><a href="http://instagram.com/freezestart" target="_blank"><i class="icon-s-instagram"></i></a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- Begin Inner -->
    </div>
    <!-- End Sub Footer Wrapper -->
</div>

<!-- baidu tongji -->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe8196f1ded92193982aa9839d8e98d0d' type='text/javascript'%3E%3C/script%3E"));
</script>


<script src="/assets/raymond/javascripts/prettify.js"></script>
<script>
    var pres = document.getElementsByTagName("pre");
    for (var i=0; i < pres.length; ++i) {
        pres[i].className = "prettyprint ";
    }
    prettyPrint();
</script>
</body>
</html>
